<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jt.sys.dao.SysUserDao">

   <!-- 更新用户信息 -->
   <update id="updateObject">
        update sys_users
        <set>
           <if test="username!=null and username!=''">
             username=#{username},
           </if>
           <if test="password!=null and password!=''">
             password=#{password},
           </if>
           <if test="mobile!=null and mobile!=''">
             mobile=#{mobile},
           </if>
           <if test="email!=null and email!=''">
             email=#{email},
           </if>
           <if test="salt!=null and salt!=''">
             salt=#{salt},
           </if>
           <if test="modifiedUser!=null and modifiedUser!=''">
            modifiedUser=#{modifiedUser},
           </if>
            modifiedTime=now()
        </set>
        where id=#{id}
   </update>

   <!-- 根据id查找用户信息 -->
   <select id="findObjectById"
           resultType="sysUser">
      select *
      from sys_users  
      where id=#{id}
   </select>
   <!-- 根据用户名查找用户信息 -->
   
   <select id="findObjectByUserName"
           resultType="sysUser">
      select *
      from sys_users  
      where username=#{username}
   </select>
   
   <!-- 向表中写入记录 -->
   <insert id="insertObject"
           parameterType="sysUser"
           useGeneratedKeys="true"
           keyProperty="id">
           insert into sys_users
           (username,password,email,mobile,salt,valid,
           createdUser,modifiedUser,createdTime,modifiedTime)
           values
           (#{username},#{password},#{email},#{mobile},#{salt},#{valid},
           #{createdUser},#{modifiedUser},now(),now())
   </insert>

   <!-- 禁用和启用状态信息 -->
   <update id="validById">
       update sys_users
       set valid=#{valid},modifiedTime=now(),
           modifiedUser=#{modifiedUser}
       where id=#{id}
   </update>
 
   <sql id="pageWhereSqlId">
    	<where>
			<if test="username!=null and username!=''">
				username LIKE CONCAT('%',#{username},'%')
			</if>
	</where>
   </sql>
   
   <select id="findPageObjects" resultType="sysUser">
	select
			id,
			username,
			email,
			mobile,
			valid,
			createdTime,
			modifiedTime
	from sys_users
	<include refid="pageWhereSqlId"/>
	LIMIT #{startIndex},#{pageSize}
   </select>
   
   <select id="getRowCount"  parameterType="sysUser" 
            resultType="java.lang.Integer">
		select count(*) from sys_users
		<include refid="pageWhereSqlId"/>
   </select>
   
      <select id="findUserPermissions"
	        parameterType="integer" 
	        resultType="string">
		select 
			m.permission 
		from 
			sys_user_roles ur,sys_role_menus rm ,sys_menus m
		where
			ur.role_id = rm.role_id 
		and
			rm.menu_id = m.id 
		and
			ur.user_id = #{userId}
	</select>
   
</mapper>







